.bgimgs {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-center {
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
}

.footer {
    text-align: center;
    position: fixed;
    background-color: rgb(71, 133, 90);
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    left: 0;
    bottom: 0;
    color: antiquewhite;
}

#logo {
    width: 76.75px;
    height: 29px;
    margin-left: 20rem;

}
#collapsible-navbar {
    text-align: right;
    margin-left: 15%;
    text-indent: 1cm;

}
